/*
$cbg:#F7FFFA;
$cbglight:#E4EEE2;
$cbglighter:#D7EEDB;
:root {
	--c-bg:$cbg;
	--c-bg-light:$cbglight;
	--c-bg-lighter:$cbglighter;
}
*/
:root {
	// background colors
	--c-bg: #f7fffa;
	--c-bg-light: #e4eee2;
	--c-bg-lighter: #d7eed8;
	--c-bg-navbar: var(--c-bg);
	--c-bg-sidebar: var(--c-bg);
}
html.dark {
	// background colors
	--c-bg: #212b28;
	--c-bg-light: #253332;
	--c-bg-lighter: #283733;
}
